<% define_template("user_defined", jsonmodel_definition(:user_defined)) do |form| %>
  <div class="subrecord-form-fields">
      <%= form.label_and_textarea "text_3", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_textarea "text_5", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_select "enum_1", form.possible_options_for("enum_1", true), {:label_opts => { :contextual => controller_name.singularize } }   %>
      <%= form.label_and_textfield "real_1", {:label_opts => { :contextual => controller_name.singularize } } %>
      <%= form.label_and_textfield "string_1", {:label_opts => { :contextual => controller_name.singularize } } %>
      <%= form.label_and_textfield "string_2", {:label_opts => { :contextual => controller_name.singularize } } %>
      <%= form.label_and_textfield "string_3", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_textfield "string_4", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_textarea "text_1", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_textarea "text_2", {:label_opts => { :contextual => controller_name.singularize } }  %>
      <%= form.label_and_textarea "text_4", {:label_opts => { :contextual => controller_name.singularize } }  %>
   </div>
<% end %>
